<configuration>
  <system.web>
    <!-- Activer les messages d'erreur détaillés -->
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <!-- Activer les messages d'erreur détaillés pour IIS -->
    <httpErrors errorMode="Detailed"></httpErrors>

    <!-- Règles de réécriture pour le routage Angular -->
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuration pour les fichiers statiques -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>